body{
    background-image:urel("https://img.freepik.com/premium-vector/zig-zag-vector-geometric-wave-seamless-pattern-background-design-image-wave-geometric-vector-image_1110513-3078.jpg?semt=ais_hybrid&w=740&q=80");
}